<!DOCTYPE html>
<html th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${lang == 'ja' ? category.titleJa : category.titleKo}">
        カテゴリ詳細
    </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
    <h1 th:if="${lang == 'ja'}" th:text="${category.titleJa}"></h1>
    <h1 th:if="${lang == 'ko'}" th:text="${category.titleKo}"></h1>
</header>

<main>

    <section class="card">
        <h2 th:text="${lang == 'ja'} ? '学習内容' : '학습 내용'"></h2>

        <p th:if="${lang == 'ja'}" th:text="${category.descriptionJa}"></p>
        <p th:if="${lang == 'ko'}" th:text="${category.descriptionKo}"></p>
    </section>

    <section class="card">
        <h2 th:text="${lang == 'ja'} ? 'このカテゴリで学べること' : '이 카테고리에서 배울 수 있는 것'"></h2>

        <ul th:if="${lang == 'ja'}">
            <li th:each="step : ${category.stepsJa}" th:text="${step}"></li>
        </ul>

        <ul th:if="${lang == 'ko'}">
            <li th:each="step : ${category.stepsKo}" th:text="${step}"></li>
        </ul>

        <div class="check-area">
            <label>
                <input type="checkbox" id="completeCheck">
                <span th:text="${lang == 'ja'} ? 'このカテゴリの学習を完了した' : '이 카테고리 학습을 완료했습니다'"></span>
            </label>

            <p id="completeMessage" class="complete-message"></p>
        </div>
    </section>

    <section class="card">
        <h2 th:text="${lang == 'ja'} ? '学習レッスン' : '학습 레슨'"></h2>

        <div th:if="${#lists.isEmpty(category.lessons)}">
            <p th:text="${lang == 'ja'} ? 'このカテゴリのレッスンは準備中です。' : '이 카테고리의 레슨은 준비 중입니다.'"></p>
        </div>

        <div th:each="lesson : ${category.lessons}" class="result-card">
            <p
    class="lesson-status"
    th:attr="data-key=${lesson.url}">
</p>

    <a th:href="${lesson.url + '?lang=' + lang}">

        <h3 th:if="${lang == 'ja'}" th:text="${lesson.titleJa}"></h3>
        <h3 th:if="${lang == 'ko'}" th:text="${lesson.titleKo}"></h3>

    </a>

    <p th:if="${lang == 'ja'}" th:text="${lesson.descriptionJa}"></p>
    <p th:if="${lang == 'ko'}" th:text="${lesson.descriptionKo}"></p>
    <p>
    <strong th:text="${lang == 'ja'} ? '難易度：' : '난이도: '"></strong>
    <span th:text="${lesson.level}"></span>
</p>

<p>
    <strong th:text="${lang == 'ja'} ? '目安時間：' : '예상 시간: '"></strong>
    <span th:text="${lesson.time}"></span>
</p>

</div>
    </section>

    <section class="card">
        <h2 th:text="${lang == 'ja'} ? 'おすすめカテゴリ' : '추천 카테고리'"></h2>

        <div th:each="recommend : ${recommendations}">
            <p th:if="${lang == 'ja'}" th:text="${recommend.titleJa}"></p>
            <p th:if="${lang == 'ko'}" th:text="${recommend.titleKo}"></p>
        </div>
    </section>

    <a class="card" th:href="${'/?lang=' + lang}">
        <h2 th:text="${lang == 'ja'} ? 'トップページへ戻る' : '메인 페이지로 돌아가기'"></h2>
    </a>

</main>

<script src="/script.js"></script>

</body>
</html>