<!DOCTYPE html>
<html th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${lang == 'ja' ? lesson.titleJa : lesson.titleKo}">
        レッスン詳細
    </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
    <h1 th:if="${lang == 'ja'}" th:text="${lesson.titleJa}"></h1>
    <h1 th:if="${lang == 'ko'}" th:text="${lesson.titleKo}"></h1>
</header>

<main>

    <section class="card">
        <h2 th:text="${lang == 'ja'} ? 'レッスン内容' : '레슨 내용'"></h2>

        <p th:if="${lang == 'ja'}" th:text="${lesson.descriptionJa}"></p>
        <p th:if="${lang == 'ko'}" th:text="${lesson.descriptionKo}"></p>
    </section>
    

    <section class="card">
        <h2 th:text="${lang == 'ja'} ? '手順' : '순서'"></h2>

        <ol th:if="${lang == 'ja'}">
            <li th:each="step : ${lesson.stepsJa}" th:text="${step}"></li>
        </ol>

        <ol th:if="${lang == 'ko'}">
            <li th:each="step : ${lesson.stepsKo}" th:text="${step}"></li>
        </ol>

        <div class="check-area">
            <label>
                <input
                    type="checkbox"
                    id="completeCheck"
                    th:attr="data-key=${lesson.url}">
                <span th:text="${lang == 'ja'} ? 'このレッスンを完了した' : '이 레슨을 완료했습니다'"></span>
            </label>

            <p id="completeMessage" class="complete-message"></p>
        </div>
        <p>
    <strong th:text="${lang == 'ja'} ? '難易度：' : '난이도: '"></strong>
    <span th:text="${lesson.level}"></span>
</p>

<p>
    <strong th:text="${lang == 'ja'} ? '目安時間：' : '예상 시간: '"></strong>
    <span th:text="${lesson.time}"></span>
</p>
    </section>
    <button
    type="button"
    id="speakButton"
    th:text="${lang == 'ja'} ? '音声で読み上げる' : '음성으로 읽기'">
</button>

<button
    type="button"
    id="stopSpeakButton"
    th:text="${lang == 'ja'} ? '読み上げ停止' : '읽기 중지'">
</button>
    <section class="card">
        <button
    type="button"
    id="favoriteButton"
    th:attr="data-key=${lesson.url}"
    th:text="${lang == 'ja'} ? 'お気に入りに追加' : '즐겨찾기에 추가'">
</button>

    <h2 th:text="${lang == 'ja'} ? '理解度チェック' : '이해도 체크'"></h2>

    <p th:if="${lang == 'ja'}" th:text="${lesson.quiz.questionJa}"></p>
    <p th:if="${lang == 'ko'}" th:text="${lesson.quiz.questionKo}"></p>

    <div id="quizArea"
         th:attr="data-answer=${lesson.quiz.answerIndex}">

        <button
            type="button"
            class="quiz-choice"
            th:each="choice, stat : ${lang == 'ja' ? lesson.quiz.choicesJa : lesson.quiz.choicesKo}"
            th:attr="data-index=${stat.index}"
            th:text="${choice}">
        </button>

    </div>

    <p id="quizMessage"></p>

</section>

    <a class="card" th:href="${category.url + '?lang=' + lang}">
    <h2 th:text="${lang == 'ja'} ? 'カテゴリページへ戻る' : '카테고리 페이지로 돌아가기'"></h2>
</a>

</main>

<script src="/script.js"></script>

</body>
</html>